@import "../../style/theme";

#main {
  #logoContainer {
    display: flex;
    justify-content: center;
  }

  #mainLogo {
    padding: 2.5rem;
    position: absolute;
    top: calc(20vh / 2);
    width: calc(40vh * 2);
  }
}
