@import "../../style/theme";

#main {
  #logoContainer {
    display: flex;
    justify-content: center;

    img {
      width: 100%;
    }
  }

  #mainLogo {
    padding: 2.5rem;
    position: absolute;
    top: calc(55vh / 2);
  }
}
