@import "../../style/theme";

div[name="main"] {
  .react-parallax-content {
    background-color: $dark-transparent;

    #mainLogo {
      padding: 2.5rem;
      position: relative;
      top: calc(55vh / 2);
    }
  }
}
