@import "../../../node_modules/react-image-gallery/styles/scss/image-gallery.scss";
@import "../../style/theme";

#gallery {
  top: 0;
  height: fit-content;
  padding: 0 !important;

  img {
    background-color: $dark-brown !important;
    border-radius: 5px;
    margin-bottom: 0 !important;
  }

  .image-gallery {
    font-size: small;

    .image-gallery-thumbnail {
      border: none;
      text-align: center;
      width: auto;

      .image-gallery-thumbnail-inner {
        height: 80px
      }

      img {
        height: 75px;
        width: auto;
      }
    }

    // Prevent image bleed on small screens
    .image-gallery-slide:not(.center) {
      display: none;
    }

    .image-gallery-image {
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      img {
        box-shadow: $theme-shadow;
        max-height: 110vh;
        width: auto;
      }
    }
  }
}

.image-gallery-image {
  background-color: $theme-green;
  text-align: center;

  img {
    max-height: 100vh;
    width: auto;
  }
}
