@import "../../../node_modules/react-image-gallery/styles/scss/image-gallery.scss";
@import "../../style/theme";

div[name="gallery"] {
  background-color: $dark-blue !important;
  box-shadow: $theme-shadow;

  .react-parallax {
    height: 100vh;
  }

  #gallery {
    top: 0;
    padding: 0 !important;

    img {
      background-color: $dark-blue !important;
      border-radius: 5px;
    }

    .image-gallery {
      font-size: small;

      .image-gallery-thumbnail {
        border: none;
        text-align: center;
        width: auto;

        .image-gallery-thumbnail-inner {
          height: 80px
        }

        img {
          height: 75px;
          width: auto;
        }
      }

      // Prevent image bleed on small screens
      .image-gallery-slide:not(.center) {
        display: none;
      }

      .image-gallery-image {
        background-color: $dark-blue;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        img {
          box-shadow: $theme-shadow;
          margin-bottom: 0;
          max-height: 110vh;
          width: auto;
        }
      }
    }
  }
}

.image-gallery-image {
  background-color: $theme-blue;
  text-align: center;

  img {
    margin-bottom: 0;
    max-height: 100vh;
    width: auto;
  }
}
