@import "../../style/theme";

section#promo {
  background-color: $theme-blue !important;
  height: 2000px;
  max-height: none;

  @media screen and (max-width: 750px) {
    height: 2100px;
  }
  @media screen and (max-width: 590px) {
    height: 2200px;
  }
  @media screen and (max-width: 525px) {
    height: 2300px;
  }
  @media screen and (max-width: 450px) {
    height: 2400px;
  }
  @media screen and (max-width: 425px) {
    height: 2700px;
  }

  #promoText {
    max-width: 1000px;
    margin: 0 auto 10rem auto;

    .title-container {
      justify-content: center;
      display: flex;

      h3 {
        width: 375px;
      }
    }

    hr {
      border-top: 1px solid #b4a9a9;
      margin: 5rem auto;
    }

    #special {
      margin-top: 3rem;

      strong {
        color: gold !important;
      }
    }

    #promo, #special {
      text-align: center;

      p {
        a {
          text-shadow: none !important;
        }
      }

      .img-circle {
        height: 325px;
        border-radius: 50%;
        margin: 2rem auto;
        overflow: hidden;
      }
    }
  }

  .align-left {
    text-align: left;
  }
}
