$theme-white: #ebf0fa;
$theme-blue: #443e6b;
$theme-light-blue: #6aa2cc;
$dark-blue: #392e5c;
$theme-red: #f56767;
$theme-pink: #b1739c;
$light-pink: #E186B3;
$light-grey: #947079;
$dark-grey: #5E4D58;
$theme-dark: #463545;
$theme-darker: #3c053b;

$dark-transparent: rgba(45, 32, 44, 0.7);
$pink-transparent: rgba(201, 120, 177, 0.7);
$blue-transparent: rgba(99, 93, 141, 0.7);
$lt-pink-transparent: rgba(225, 134, 179, 0.7);
$lt-grey-transparent: rgba(148, 112, 121, 0.7);

$theme-shadow: 2px 13px 12px -15px rgba(0, 0, 0, 0.7);
