@import "../../style/theme";


#about {
  background-color: $theme-pink !important;
  min-height: 1100px;
  padding: 3rem 5% 0;

  div {
    margin: 3rem auto auto;
  }
}

#cupcakeContainer {
  height: 30vh;
  text-align: center;
}
