@import "../../style/theme";

div[name="about"] {
  background-color: $theme-pink !important;

  #aboutText {
    max-width: 1000px;
    padding: 3rem 5%;

    div {
      margin: 3rem auto auto auto;
    }
  }

  #cupcakeContainer {
    height: 30vh;
    text-align: center;
  }
}
