@import "../../style/theme";


#about {
  background-color: $theme-pink !important;
  height: fit-content;
  min-height: 1100px;
  padding: 3rem 5% 0;

  div {
    margin: 3rem auto auto;
  }

  #logoContainer {
    display: flex;
    justify-content: center;

    #stampLogo {
      padding: 2.5rem;
      width: calc(22vh * 2);
      max-width: 50%;
    }
  }
}
